<!doctype html>
<html lang="es">
<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css -->
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/all.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" href="{{ website.themeUrl }}/assets/img/favicon.jpeg" />

    <!-- web title -->
    <title>Galería :: Panel de Administrador - {{ website.title }}</title>

</head>
<body class="bg-light">

    <!-- aside -->
    <div class="container-fluid">
        {% include 'partials/aside.twig' %}
    </div>

    <!-- main content -->
    <main>

        <!-- header -->
        {% include 'partials/header.twig' %}

        <section class="mx-auto col-sm-10 bg-white shadow-sm mt-4 p-3">
            <h2 class="border-bottom pb-2">Enlazar archivo subido con galería</h2>
            <form method="post" action="{{ website.url }}/ajax/administrator/gallery">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="file">Archivo subido <small>(formato imagen: png-jpeg)</small>:</label>
                        <select class="form-control" name="file">
                            <option></option>
                            {% for file in fileList %}
                            <option value="{{ file.id }}">{{ file.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="description">Descripción:</label>
                        <input type="text" class="form-control" readonly id="readonly">
                    </div>
                </div>
                <button type="submit" class="btn btn-danger">Guardar</button>
            </form>
        </section>

        <section class="mx-auto col-sm-10 bg-white shadow-sm mt-4 p-3">
            <h2 class="border-bottom pb-2">Imágenes en la galería</h2>
            <table class="table table-sm table-hover table-light">
                <thead class="thead-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in gallery %}
                    <tr>
                        <td>{{ image.url }}</td>
                        <td>{{ image.description }}</td>
                        <td>
                            <form method="post" action="#">
                                <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3">No se han encontrado imágenes</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="mx-auto col-sm-10 bg-white shadow-sm mt-4 p-3">
            <h2 class="border-bottom pb-2">Vista previa de la galería</h2>
            
        </section>


        <!-- footer -->
        {% include 'partials/footer.twig' %}

    </main>

    <!-- javascript -->
    <script src="{{ website.themeUrl }}/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/popper.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/main.js"></script>

</body>
</html>