<!doctype html>
<html lang="es">
<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css -->
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/all.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" href="{{ website.themeUrl }}/assets/img/favicon.jpeg" />

    <!-- web title -->
    <title>Galería :: Panel de Administrador - {{ website.title }}</title>

</head>
<body class="bg-light">

    <!-- aside -->
    <div class="container-fluid">
        {% include 'partials/aside.twig' %}
    </div>

    <!-- main content -->
    <main>

        <!-- header -->
        {% include 'partials/header.twig' %}

        <section class="mx-auto col-sm-10 bg-white shadow-sm mt-4 p-3">
            <h2 class="border-bottom pb-2">Enlazar archivo subido con galería</h2>
            <form method="post" action="#">
                <input type="hidden" name="ajax_url" value="{{ website.url }}/ajax/administrator/gallery/link">
                <input type="hidden" name="callback" value="refreshWindow">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="file">Archivo subido <small>(formato imagen: png-jpeg)</small>:</label>
                        <select class="form-control" name="file" id="file" required onchange="showGalleryDescription(this)">
                            <option></option>
                            {% for file in fileList %}
                            <option value="{{ file.id }}">{{ file.basename }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="title">Título:</label>
                        <input type="text" class="form-control" name="title" id="title" required>
                    </div>
                    <div class="form-group col">
                        <label for="description">Descripción:</label>
                        <input type="text" class="form-control" name="description" id="description" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-danger">Guardar</button>
            </form>
        </section>

        <section class="mx-auto col-sm-10 bg-white shadow-sm mt-4 p-3">
            <h2 class="border-bottom pb-2">Imágenes en la galería</h2>
            <table class="table table-sm table-hover table-light m-auto">
                <thead class="thead-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in gallery %}
                    <tr>
                        <td><img src="{{website.url}}/{{ image.file.path }}" width="50px"></td>
                        <td>{{ image.title }}</td>
                        <td>{{ image.description }}</td>
                        <td>
                            <form method="post" action="#">
                                <input type="hidden" name="id" value="{{image.id}}">
                                <input type="hidden" name="ajax_url" value="{{website.url}}/ajax/administrator/gallery/unlink">
                                <input type="hidden" name="callback" value="refreshWindow">
                                <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3">No se han encontrado imágenes</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="mx-auto col-sm-10 bg-white shadow-sm my-4 p-3">
            <h2 class="border-bottom pb-2">Vista previa de la galería</h2>

            <div class="container">
                <div id="carouselGallery" class="carousel slide carousel-fade col" data-ride="carousel" style="height: 400px;">
                    <ol class="carousel-indicators">
                        {% set imgCount = 0 %}
                        {% for image in gallery %}

                        <li data-target="#carouselGallery" data-slide-to="{{imgCount}}" {% if imgCount == 0 %}class="active"{% endif %}></li>

                        {% set imgCount = imgCount + 1 %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% set imgCount = 0 %}
                        {% for image in gallery %}

                        <div class="carousel-item {% if imgCount == 0 %}active{% endif %}">
                            <div class="img-slider" style="background-image: url('{{website.url}}/{{image.file.path}}');"></div>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ image.title }}</h5>
                                <p>{{ image.description }}</p>
                            </div>
                        </div>

                        {% set imgCount = imgCount + 1 %}
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselGallery" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselGallery" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </section>


        <!-- footer -->
        {% include 'partials/footer.twig' %}

    </main>

    <!-- javascript -->
    <script src="{{ website.themeUrl }}/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/popper.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/main.js"></script>

</body>
</html>