<!doctype html>
<html lang="es">
<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css -->
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/all.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" href="{{ website.themeUrl }}/assets/img/favicon.jpeg" />

    <!-- web title -->
    <title>Redes sociales :: Panel de Administrador - {{ website.title }}</title>

</head>
<body class="bg-light">

    <!-- aside -->
    <div class="container-fluid">
        {% include 'partials/aside.twig' %}
    </div>

    <!-- main content -->
    <main>

        <!-- header -->
        {% include 'partials/header.twig' %}

        <section class="mx-auto col-sm-10 bg-white shadow-sm mt-4">
            <h2>Agregar enlace de navegación</h2>
            <form method="post" action="">
                <input type="hidden" name="ajax_url" value="{{ website.url }}/ajax/administrator/nav/add">
                <input type="hidden" name="callback" value="refreshWindow">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="name"><i class="fas fa-align-justify"></i> Nombre: <small>(se permite HTML + <a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank">iconos <i class="fas fa-external-link-alt"></i></a>)</small></label>
                        <input type="text" class="form-control" name="title" id="name" required>
                    </div>
                    <div class="form-group col">
                        <label for="url"><i class="fas fa-link"></i> Enlace :</label>
                        <input type="url" class="form-control" class="w-100 p-1" name="url" id="url" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-danger">Añadir</button>
            </form>
        </section>

        <section class="mx-auto col-sm-10 bg-white shadow-sm mt-4">
            <h2>Lista de enlaces</h2>
            <div class="table-responsive px-3 pt-2">
            <table class="table table-hover table-light">
                <thead class="thead-light">
                    <tr>
                        <th>Nombre</th>
                        <th>Enlace</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for link in linkList %}
                    <tr>
                        <td>{{ link.title | raw }}</td>
                        <td>{{ link.url }}</td>
                        <td>
                            <form method="post" action="#">
                                <input type="hidden" name="ajax_url" value="{{ website.url }}/ajax/administrator/nav/delete">
                                <input type="hidden" name="callback" value="refreshWindow">
                                <input type="hidden" name="id" value="{{ link.id }}">
                                <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">No se ha encontrado ningún enlace</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </section>

        <!-- footer -->
        {% include 'partials/footer.twig' %}

    </main>

    <!-- javascript -->
    <script src="{{ website.themeUrl }}/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/popper.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/main.js"></script>

</body>
</html>