<!doctype html>
<html lang="es">
<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css -->
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/all.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/summernote.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" href="{{ website.themeUrl }}/assets/img/favicon.jpeg" />

    <!-- web title -->
    <title>Noticias :: Panel de Administrador - {{ website.title }}</title>

</head>
<body class="bg-light">

    <!-- aside -->
    <div class="container-fluid">
        {% include 'partials/aside.twig' %}
    </div>

    <!-- main content -->
    <main>

        <!-- header -->
        {% include 'partials/header.twig' %}

        <section class="mx-auto col-sm-10 bg-white shadow-sm mt-4 p-3">
            <h2 class="border-bottom pb-2">Agregar nueva noticia</h2>
            <form method="post" action="#">
                <input type="hidden" name="ajax_url" value="{{ website.url }}/ajax/administrator/news/add">
                <input type="hidden" name="callback" value="refreshWindow">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="title"><i class="fas fa-heading"></i> Título:</label>
                        <input type="text" class="form-control" name="title" id="title" required>
                    </div>
                    <div class="form-group col">
                        <label for="image"><i class="fas fa-link"></i> Portada <small>(archivos subidos)</small>: <span id="img-select"></span></label>
                        <select class="form-control" name="image" id="image" title="Seleccionar una portada" onchange="showImage(this)" required>
                            <option></option>
                            {% for file in fileList %}
                            <option value="{{ website.url ~ '/' ~ file.path }}">{{ file.basename }} - {{ file.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="description"><i class="fas fa-align-justify"></i> Contenido</small>:</label>
                        <textarea class="form-control" name="content" id="description" required></textarea>
                    </div>
                </div>

                <div class="collapse" id="buttonCollapse">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="buttonTitle"><i class="fas fa-hand-pointer"></i> Texto botón:</label>
                            <input type="text" class="form-control" name="button_text" id="buttonTitle">
                        </div>
                        <div class="form-group col">
                            <label for="url"><i class="fas fa-external-link-alt"></i> Enlace botón:</label>
                            <input type="url" class="form-control" name="button_url" id="buttonUrl">
                        </div>
                    </div>
                </div>

                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#buttonCollapse" aria-expanded="false" aria-controls="buttonCollapse" onclick="buttonOnArticle(this)">
                    Añadir botón
                </button>

                <button type="submit" class="btn btn-danger">Guardar</button>
            </form>
        </section>

        <section class="mx-auto col-sm-10 bg-white shadow-sm mt-4 p-3">
            <h2 class="border-bottom pb-2">Listado noticias</h2>
            <table class="table table-sm table-hover table-light">
                <thead class="thead-dark">
                    <tr>
                        <th>Portada</th>
                        <th>Nombre</th>
                        <th>Contenido</th>
                        <th>¿Enlace?</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articleList %}
                    <tr>
                        <td><img src="{{ article.image }}" width="50"></td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.content[:65] ~ '...' }}</td>
                        <td>{% if article.button_text %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-warning"></i>{% endif %}</td>
                        <td>
                            <form method="post" action="#">
                                <input type="hidden" name="ajax_url" value="{{website.url}}/ajax/administrator/news/delete">
                                <input type="hidden" name="callback" value="refreshWindow">
                                <input type="hidden" name="id" value="{{article.id}}">
                                <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">No se han encontrado noticias</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- footer -->
        {% include 'partials/footer.twig' %}

    </main>

    <!-- javascript -->
    <script src="{{ website.themeUrl }}/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/popper.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/summernote.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/main.js"></script>
    <script>
    $(document).ready(function() {
        $('#description').summernote({
            tabsize: 2,
            height: 200
        });
    });
    </script>

</body>
</html>