<!doctype html>
<html lang="es">
<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css -->
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/all.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" href="{{ website.themeUrl }}/assets/img/favicon.jpeg" />

    <!-- web title -->
    <title>Editar página - Inicio :: Panel de Administrador - {{ website.title }}</title>

</head>
<body class="bg-light">

    <!-- aside -->
    <div class="container-fluid">
        {% include 'partials/aside.twig' %}
    </div>

    <!-- main content -->
    <main>

        <!-- header -->
        {% include 'partials/header.twig' %}

        <section class="mx-auto col-sm-10 bg-white shadow-sm mt-4 p-3">
            <h2 class="border-bottom pb-2">ASDF</h2>
            <form method="post" action="#">
                <input type="hidden" name="ajax_url" value="{{ website.url }}/ajax/administrator/contact">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="name">asdfasd:</label>
                        <input type="text" class="form-control" name="name" id="name" required value="{{ mail.name }}">
                    </div>
                    <div class="form-group col">
                        <label for="host">Hsofdsafdsafdsafsgt:</label>
                        <input type="text" class="form-control" name="host" id="host" required value="{{ mail.host }}">
                    </div>
                </div>
                <button type="submit" class="btn btn-danger">Guardar</button>
            </form>
        </section>

        <section class="mx-auto col-sm-10 bg-white shadow-sm mt-4 p-3">
            <h2 class="border-bottom pb-2">hgsfddsfasd</h2>
        </section>

        <!-- footer -->
        {% include 'partials/footer.twig' %}

    </main>

    <!-- javascript -->
    <script src="{{ website.themeUrl }}/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/popper.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/main.js"></script>

</body>
</html>