<!doctype html>
<html lang="es">
<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css -->
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/all.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/animate.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" href="{{ website.themeUrl }}/assets/img/schoolarmy.jpeg" />

    <!-- web title -->
    <title>HowToFp aka SchoolArmy</title>

</head>
<body class="bg-light">

    <!-- header -->
    <div class="container-fluid">
        {% include 'partials/header.twig' %}
    </div>

    <!-- main content -->
    <div class="container-fluid">
        <div class="row bg-white py-5 shadow-sm">
            <div class="container animate__animated animate__fadeInLeft">
                
                <h1 class="text-uppercase">Sobre nosostros</h1>
                <p>Al igual que no es lo mismo, ver el deporte que practicarlo. Es diferente consumir pantalla de forma pasiva, que consumirla de forma creativa y pro-activa, y todo esto en un marco de mejora educativa, mejorando las capacidades digitales, soft skills, de emprendimiento, creativas, trabajo en equipo… Al mismo tiempo que crece la motivación y autoestima de nuestro alumnado. Esta es la idea principal del proyecto “School Army”, no te pares aquí, sigue leyendo. </p>

            </div>
        </div>
        <div class="row py-5 shadow-sm">
            <div class="container animate__animated animate__fadeInRight">
                
                <h2 class="text-uppercase">Nuestra historia</h2>
                <ul>
                    <li>El proyecto School Army ha tenido una fase de nacimiento durante el curso académico 2019 / 2020</li>
                    <li>En el curso 2020 / 2021 se ha consolidado el proyecto en los centros de inicio del mismo y se ha comenzado a impulsar su desarrollo en otros centros.</li>
                    <li>Se ha generado más contenido, creando nuevos influencers (Micro), reforzando a los colaboradores y se comenzará a crear el papel de los nuevos Mentores.</li>
                    <li>Se amplía el proyecto a otros institutos colaboradores</li>
                    <li>En el curso 2021/2022 se pretende afianzar el proyecto tanto en los centros de origen como ya si expandirlo a los nuevos centros colaboradores realizando intervenciones directas en los mismos</li>
                </ul>

                <h2 class="text-uppercase">Objetivo</h2>
                <p>La razón de ser de School Army es acoger a estudiantes, profesores y empresas que quieran colaborar en un proyecto social educativo que utiliza las redes sociales. Cómo visión del proyecto queremos crear una comunidad de profesores y alumnos que fusionen aprendizajes con redes sociales y acercarnos a los consumidores de las mismas.</p>
    
            </div>
        </div>
        <div class="row bg-white py-5 shadow-sm">
            <div class="container animate__animated animate__fadeInLeft">

                <h2 class="text-uppercase">Nuestro equipo</h2>
                
                <div class="row justify-content-between px-2">

                    <div class="card bg-dark text-white mb-4" style="width: 13rem;">
                        <img src="assets/img/schoolarmy.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>PEPE PACO</strong> <br>
                                Creador de contenido
                            </p>
                        </div>
                    </div>
                    <div class="card bg-dark text-white mb-4" style="width: 13rem;">
                        <img src="assets/img/schoolarmy.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>PEPE PACO</strong> <br>
                                Creador de contenido
                            </p>
                        </div>
                    </div>
                    <div class="card bg-dark text-white mb-4" style="width: 13rem;">
                        <img src="assets/img/schoolarmy.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>PEPE PACO</strong> <br>
                                Creador de contenido
                            </p>
                        </div>
                    </div>
                    <div class="card bg-dark text-white mb-4" style="width: 13rem;">
                        <img src="assets/img/schoolarmy.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>PEPE PACO</strong> <br>
                                Creador de contenido
                            </p>
                        </div>
                    </div>
                    <div class="card bg-dark text-white mb-4" style="width: 13rem;">
                        <img src="assets/img/schoolarmy.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>PEPE PACO</strong> <br>
                                Creador de contenido
                            </p>
                        </div>
                    </div>
                    <div class="card bg-dark text-white mb-4" style="width: 13rem;">
                        <img src="assets/img/schoolarmy.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>PEPE PACO</strong> <br>
                                Creador de contenido
                            </p>
                        </div>
                    </div>
                    <div class="card bg-dark text-white mb-4" style="width: 13rem;">
                        <img src="assets/img/schoolarmy.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>PEPE PACO</strong> <br>
                                Creador de contenido
                            </p>
                        </div>
                    </div>
                    <div class="card bg-dark text-white mb-4" style="width: 13rem;">
                        <img src="assets/img/schoolarmy.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>PEPE PACO</strong> <br>
                                Creador de contenido
                            </p>
                        </div>
                    </div>
                    <div class="card bg-dark text-white mb-4" style="width: 13rem;">
                        <img src="assets/img/schoolarmy.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>PEPE PACO</strong> <br>
                                Creador de contenido
                            </p>
                        </div>
                    </div>
                    <div class="card bg-dark text-white mb-4" style="width: 13rem;">
                        <img src="assets/img/schoolarmy.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>PEPE PACO</strong> <br>
                                Creador de contenido
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="container-fluid mt-auto">
        {% include 'partials/footer.twig' %}
    </div>

    <!-- javascript -->
    <script src="{{ website.themeUrl }}/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/popper.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/main.js"></script>

</body>
</html>